<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="SHARPKAPPA_OAUTH" value="" />
        <add key="SHARPKAPPA_CLIENTID" value="" />
        <add key="SHARPKAPPA_CLIENTSECRET" value="" />
        <add key="SHARPKAPPA_ACCESSTOKEN" value ="" />
    </appSettings>
</configuration>
